<!-- ユーザのプロフィール更新が失敗したとき、フラッシュメッセージを表示 -->
<!-- １個のエラーだったら、「1 error prohibited this obj from being saved:」を、２個のエラーだったら「2 errors prohibited this obj from being saved:」を表示（else文で行けそう） -->
<% if @user.errors.any? %>
  <%= @user.errors.count %> errors prohibited this obj from being saved:
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h1>User info</h1>
<!-- form_with部分 -->
<%= form_with model: @user, local:true do |f| %>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name" %>
  <%= attachment_image_tag @user, :profile_image %>
  <label for="inputImage">Image</label>
  <%= f.attachment_field :profile_image %>
  <label for="inputIntroduction">Introduction</label>
  <%= f.text_area :introduction, placeholder:"Introduction" %>

  <%= f.submit 'Update User' %>
<% end %>