<!-- 削除処理の成功後、サクセスメッセージを表示、テキストの色指定なし（黒） -->
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<!--bookのindexページの左側の作成(User info) - 他ページのテンプレート（User info） -->
<h1>User info</h1>
<!--form_with部分-->
<%= form_with model: @user, local:true do |f| %>
  <!--### !!! メンターへ質問、viewは表示されエラーが出ないが、fallback: "no_image.jpg"が表示されてしまう !!! ###-->
  <div class="img"><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></div>
  <label for="Name">Name</label>
  <%= current_user.name %>
  <label for="Introduction">Introduction</label>
  <%= current_user.introduction %>
<% end %>

<% if @book.user == current_user.id %>
  <p><%= link_to "edit", edit_user_path(@user) %></p>
<% end %>

<!-- bookの投稿フォーム - 他ページのテンプレート（New book）-->
<h2>New book</h2>
<!-- 処理失敗時にエラーメッセージを表示 -->
<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<!-- form_with部分 -->
<%= form_with model:@book, local:true do |f| %>

<h4>Title</h4>
<%= f.text_field :title %>

<h4>Opinion</h4>
<%= f.text_area :body %>

<div class="create-book">
<%= f.submit 'Create Book' %>
</div>

<% end %>

<!--bookのindexページの右側の作成(Books)-->
<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
    <tr>
    <td>
      <%= book.title %>
    </td>

    <td>
      <%= book.body %>
    </td>

    <td>
      <%= link_to "show", book_path(book.id) %>
      <%= link_to "edit", edit_book_path(book.id) %>
      <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>